html {
  font-size: 16px;
}

body {
  background-color: #efeff2;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
header,
footer {
  background-color: white;
}

header {
  display: flex;
}

main,
footer {
  margin: auto 50px;
}

#donnes_fictives,
#table {
  background-color: white;
}

table,
thead,
tbody,
th,
tr,
td {
  border: solid 1px #efeff2;
  border-collapse: collapse;
}

aside {
  color: white;
  background-color: #1b1c26;
}
